<!DOCTYPE html>
<html>

<head>
  <title>Casablanca.rb: {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="/stylesheets/reset.css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/urug.css" charset="utf-8">
</head>

<body>

  <header>
    <h1><a href="/">Casablanca.rb</a></h1>
    <h3>In Casablanca? Like Ruby? This is the place.</h3>
  </header>

  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="mailto:Casablanca-rb-list@meetup.com">Mailing List</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="http://github.com/casablancarb">GitHub</a></li>
    </ul>
  </nav>

{{ content }}

  <footer>
    <p class="github"><a href="http://github.com/casablancarb/casablancarb.github.com">Fork me on GitHub</a></p>
  </footer>

</body>

</html>
